@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


.linear-bg{
    background: linear-gradient(to right, #5f2ee6, #a55be6 );
}

body{
    font-family: "Outfit", sans-serif;
    box-sizing: border-box;
}
